#parent {
  position: -webkit-sticky; /* なんで？？？？ */
  height: 5000px;
}
#target1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: red;
}
#target2 {
  position: absolute;
  top: 0;
  left: 200px;
  width: 200px;
  height: 200px;
  background: cyan;
}