body {
    margin: 0;
    overflow: hidden;
}
#address {
    display: block;
    width: 465px;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
}
#ifr {
    width: 465px;
    height: 435px;
    border: 0;
}